/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$pastelGreenlight: #EFF4EF;
$pastelGreen: #E0EAE0;
$white: #FBFBFB;
$whiteDark: #EFF5FB;
$black: #313131;
$blackLight: #979797;
$goldlight: #F0E3B9;

