/* =============
    Checkout
============= */

.tile-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tile {
    display: flex;
    width: 100%;

    margin-bottom: 30px;
    padding: 20px;
    align-items: center;
    border: 1px solid $steel;
  }
  
  .column {
    flex-basis: calc(100% / 6); 
    padding: 10px;
    text-align: left;
  }
  
//Tablet
  @media (max-width: 1024px) { 
    .column {
      flex-basis: calc(100% / 2); 
    }
  }

//Mobile
  @media (max-width: 767px) { 
    .tile {
      flex-direction: column;
    }
    .column {
      flex-basis: 100%; 
      border-right: none;
      text-align: left;
      
    }
  }

  .highlight {
    color: $gold;
  }
  
 