/* =============
    Product Page
============= */

.container {
    display: flex;
    justify-content: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    padding-top: 70px;
    padding-right: 20px;
    align-items: center;
  }
  
  .product-image {
    width: 70%;
    margin-bottom: 30px;
  }
  
  .small-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .small-images img {
    padding: 10px;
  }
  
  .colortile {
    width: 50px;
    height: 50px;
  }
  
  .product-description {
    max-width: 300px;
    flex: 1;
    width: 50%;
    padding: 40px;
    line-height: 2;
    margin: 10px;
  }
  
  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
  }

  a.link {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }

  a:hover {
    color: $blackLight;
    text-decoration: underline; 
  }

//Mobile
  @media (max-width: 767px) {
    .content {
      flex-direction: column;
    }
  
    .image-container {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .product-description {
      max-width: 200px;
      width: 100%;
      padding: 20px;
      margin-top: 0;
    }
  }
  
  
  
