/* =============
    Footer
============= */

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $pastelGreenlight;
  padding: 20px;
  font-size: 16px;
  width: 100%;
}

.footer-links a {
  text-decoration: none;
  color: $black;
  margin: 20px 40px; 
  align-items: left;
  font-size: 16px;
}

a:hover {
  color: $blackLight;
  text-decoration: underline; 
}

//Mobile
@media only screen and (max-width: 767px) {
  .footer {
    display: block;
  }

  .footer-links {
    justify-content: left;
  }

  .footer-links a {
    flex-basis: calc(50% - 20px); 
  }
}