/* =============
    Header
============= */

header.container{
    padding:24px 0;
    position: fixed;
    width: 100%;
    background-color: $pastelGreenlight;

    .content{
        display: grid;
        grid-template-columns: 4fr;
        grid-template-areas: "burger";

        @include lg{
            grid-template-areas: "logo nav";
        }

        .logo{
            color: $black;
            font-size:40px;
        }

        .burger-container{
            display:flex;
            justify-content:flex-end;
            align-items: center;
        

            @include lg{
                display: none;
            }

            button{
                border: none;
                background-color: $white;
                color: $black;
                font-size: 20px;

                &:hover{
                    cursor:pointer;
                }
            }
        }
    }
}
