/* =============
    Forms
============= */

form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    
    margin-right: 10px;
    letter-spacing: 3px;
    font-size: 18px;
  }
  
  input[type="text"],
  input[type="email"] {
    flex: 1;
    background-color: $steel;
    color:$black;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }

  
  
  
  
  